<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

    <!-- Bootstrap core CSS -->
    <link href="/../static/css/bootstrap.css" rel="stylesheet"  th:href="@{css/bootstrap.css}"/>
    <!--external css-->
    <link href="/../static/font-awesome/css/font-awesome.css" rel="stylesheet" th:href="@{font-awesome/css/font-awesome.css}"/>
    <link rel="stylesheet" type="text/css" href="/../static/css/zabuto_calendar.css" th:href="@{css/zabuto_calendar.css}"/>
    <link rel="stylesheet" type="text/css" href="/../static/js/gritter/css/jquery.gritter.css" th:href="@{js/gritter/css/jquery.gritter.css}"/>
    <link rel="stylesheet" type="text/css" href="/../static/lineicons/style.css" th:href="@{lineicons/style.css}"/>

    <!-- Custom styles for this template -->
    <link href="/../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}"/>
    <link href="/../static/css/style-responsive.css" rel="stylesheet" th:href="@{css/style-responsive.css}"/>

    <script src="/../static/js/chart-master/Chart.js" th:href="@{js/chart-master/Chart.js}"></script>


      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <meta charset="ISO-8859-1">

    <title >FazAdmin</title>
</head>
<body>

</body>
</html>