<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head  th:replace="/layout/template :: header" >

</head>
<body>
<div th:if="${param.error}">
    El usuario ya existe
</div>
<!--Mensaje cuando se desconecta
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form th:action="@{/user/registrar}" method="post">
            <input type="text" class="fadeIn second"name="firstname"  placeholder="name">
            <input type="text" class="fadeIn second" name="lastname" placeholder="lastname">
            <input type="email" id="login" class="fadeIn second" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Sign In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">

            <a class="underlineHover" href="/registration">Crear Cuenta?</a>
        </div>
    </div>
</div>
</body>
</html>